@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dd,dt,input{margin:0;padding:0;}
a{ text-decoration:none;}
li{ list-style:none;}
img{ vertical-align:top; border:none;}
.fl{ float:left; display:inline;}
.fr{ float:right;display:inline;}
.clear:after{ content:''; display:block; clear:both;}
.clear{zoom:1;}
input{ border:none; outline:none; background:none;}
textarea{ resize:none;}


